<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
    <header>
        <div class="logo"></div>
        <div class="menus">
            <div class="menu">
                Mes Projets
            </div>
            <div class="menu">
                Expérience Professionelle
            </div>
            <div class="menu">
                Mes compétences
            </div>
            <div class="menu cadre">
                Me contacter
            </div>
        </div>
    </header>

    <div class="page">

        <iframe class="video"width="475" height="267" src="https://www.youtube.com/embed/bE1rE7Y-YI0" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <div class="home">
            <div class="ligne">
                <div class=" h1 italique">&lth1&gt</div> 
                <h1>Bienvenue Sur Mon Porte-Folio </h1>
                <div class=" h1 italique">&lt/h1&gt</div>
            </div>
            <div class="paragraphe" >
                <div class="description">
                    <div class="italique">&ltp&gt</div>
                    Je suis un étudiant en 2ème année de bachelor en web développement.
                    Je suis toujours à la recherche d'une alternance ou d'un stage en temps que développeur front ou back.
                    <div class="italique">&lt/p&gt</div>
                </div>
            </div> 
        </div> 

        <div class=blockProjet>
            <div class="ligne">
                <div class=" h2 italique">&lth2&gt</div> 
                <h2>Mes Projets</h2>
                <div class=" h2 italique">&lt/h2&gt</div>
            </div>
        </div>

        <div class="blockExp">
            <div class="ligne">
                <div class=" h2 italique">&lth2&gt</div> 
                <h2>Expérience Professionelle</h2>
                <div class=" h2 italique">&lt/h2&gt</div>
            </div>
            <div class="Exps">
                <div class="Exp">
                    <img src="img/Sens.JPG" class="imgExp"> </img>
                    <div class="texteExp">
                        <div class="titleExp">
                            Assistant Cuisine
                        </div>
                        <div> - </div>
                        <div class="titleExp">
                            Restaurant Sens
                        </div>
                        <div class="date">
                            07/03/2018 - 05/04/2019
                        </div>
                        <div class="descriptionExp">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                            Morbi fringilla tempor pulvinar. Ut a varius turpis, sit amet 
                            consequat ligula. Duis aliquam turpis vel elit consectetur gravida. 
                            Suspendisse ut mi nibh. Nulla nec efficitur nunc. Quisque pretium 
                            massa ut orci 
                            Morbi fringilla tempor pulvinar. Ut a varius turpis, sit amet 
                            Morbi fringilla tempor pulvinar. Ut a varius turpis, sit  
                        </div>
                    </div>
                </div>

                <div class="Exp">
                    <img src="img/Sens.JPG" class="imgExp"> </img>
                    <div class="texteExp">
                        <div class="titleExp">
                            Assistant Cuisine
                        </div>
                        <div> - </div>
                        <div class="titleExp">
                            Restaurant Sens
                        </div>
                        <div class="date">
                            07/03/2018 - 05/04/2019
                        </div>
                        <div class="descriptionExp">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                            Morbi fringilla tempor pulvinar. Ut a varius turpis, sit amet 
                            consequat ligula. Duis aliquam turpis vel elit consectetur gravida. 
                            Suspendisse ut mi nibh. Nulla nec efficitur nunc. Quisque pretium 
                            massa ut orci 
                            Morbi fringilla tempor pulvinar. Ut a varius turpis, sit amet 
                            Morbi fringilla tempor pulvinar. Ut a varius turpis, sit  
                        </div>
                    </div>
                </div>

                <div class="Exp">
                    <img src="img/Sens.JPG" class="imgExp"> </img>
                    <div class="texteExp">
                        <div class="titleExp">
                            Assistant Cuisine
                        </div>
                        <div> - </div>
                        <div class="titleExp">
                            Restaurant Sens
                        </div>
                        <div class="date">
                            07/03/2018 - 05/04/2019
                        </div>
                        <div class="descriptionExp">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                            Morbi fringilla tempor pulvinar. Ut a varius turpis, sit amet 
                            consequat ligula. Duis aliquam turpis vel elit consectetur gravida. 
                            Suspendisse ut mi nibh. Nulla nec efficitur nunc. Quisque pretium 
                            massa ut orci 
                            Morbi fringilla tempor pulvinar. Ut a varius turpis, sit amet 
                            Morbi fringilla tempor pulvinar. Ut a varius turpis, sit  
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div id="blockComp">
            <div class="ligne">
                <div class=" h2 italique">&lth2&gt</div> 
                <h2>Mes Compétences</h2>
                <div class=" h2 italique">&lt/h2&gt</div>
            </div>
            <div class="competences">
                <div class="competence">Développement Web</div>
                <div class="competence">Design Web</div>
                <div class="competence">Outils</div>
                <div class="competence">Transverse</div>
            </div>

            <!-- dev -->
            <div class="part" v-if=" nbx === 0" >
                <div class="colonne">
                    <div class="pourcent">100 %</div>
                    <div class="barre">
                        <div class="score t100"></div>
                    </div>
                    <img src="img/HTML.png" class="logoComp">
                </div>
                <div class="colonne">
                    <div class="pourcent">90 %</div>
                    <div class="barre">
                        <div class="score t90"></div>
                    </div>
                    <img src="img/CSS.png" class="logoCompSmall">
                </div>
                <div class="colonne">
                    <div class="pourcent">70 %</div>
                    <div class="barre">
                        <div class="score t70"></div>
                    </div>
                    <img src="img/PUG.png" class="logoComp">
                </div>
                <div class="colonne">
                    <div class="pourcent">75 %</div>
                    <div class="barre">
                        <div class="score t75"></div>
                    </div>
                    <img src="img/Js.png" class="logoComp">
                </div>
                <div class="colonne">
                    <div class="pourcent">85 %</div>
                    <div class="barre">
                        <div class="score t85"></div>
                    </div>
                    <img src="img/PHP.png" class="logoComp">
                </div>
                <div class="colonne">
                    <div class="pourcent">70 %</div>
                    <div class="barre">
                        <div class="score t70"></div>
                    </div>
                    <img src="img/Vue.png" class="logoComp">
                </div>
                <div class="colonne">
                    <div class="pourcent">60 %</div>
                    <div class="barre">
                        <div class="score t60"></div>
                    </div>
                    <img src="img/Laravel.png" class="logoComp">
                </div>
                <div class="colonne">
                    <div class="pourcent">80 %</div>
                    <div class="barre">
                        <div class="score t80"></div>
                    </div>
                    <img src="img/SQL.png" class="logoComp">
                </div>
            </div>

            <!-- design -->
            <div class="part" v-if="nbx === 1">
                <div class="colonne">
                    <div class="pourcent">90 %</div>
                    <div class="barre">
                        <div class="score t90"></div>
                    </div>
                    <img src="img/XD.png" class="logoCompSmall">
                </div>
                <div class="colonne">
                    <div class="pourcent">20 %</div>
                    <div class="barre">
                        <div class="score t20"></div>
                    </div>
                    <img src="img/Id.png" class="logoCompSmall">
                </div>
                <div class="colonne">
                    <div class="pourcent">40 %</div>
                    <div class="barre">
                        <div class="score t40"></div>
                    </div>
                    <img src="img/Ps.png" class="logoCompTall">
                </div>
                <div class="colonne">
                    <div class="pourcent">40 %</div>
                    <div class="barre">
                        <div class="score t40"></div>
                    </div>
                    <img src="img/Ai.webp" class="logoCompSmall">
                </div>
                <div class="colonne">
                    <div class="pourcent">75 %</div>
                    <div class="barre">
                        <div class="score t75"></div>
                    </div>
                    <div class="Comp"> Maquettage </div>
                </div>
            </div>

            <!-- outils -->
            <div class="part" v-if=" nbx === 2">
                <div class="colonne">
                    <div class="pourcent">100 %</div>
                    <div class="barre">
                        <div class="score t100"></div>
                    </div>
                    <img src="img/Excel.png" class="logoCompTall">
                </div>
                <div class="colonne">
                    <div class="pourcent">80 %</div>
                    <div class="barre">
                        <div class="score t80"></div>
                    </div>
                    <img src="img/Word.png" class="logoCompSmall">
                </div>
                <div class="colonne">
                    <div class="pourcent">90 %</div>
                    <div class="barre">
                        <div class="score t90"></div>
                    </div>
                    <img src="img/Pp.png" class="logoCompSmall">
                </div>
                <div class="colonne">
                    <div class="pourcent">60 %</div>
                    <div class="barre">
                        <div class="score t60"></div>
                    </div>
                    <img src="img/Pr.png" class="logoCompSmall">
                </div>

            </div>

            <!-- transervse -->
            <div class="part" v-if="nbx === 3">
                <div class="colonne">
                    <div class="pourcent">100 %</div>
                    <div class="barre">
                        <div class="score t100"></div>
                    </div>
                    <div class="Comp"> Communication </div>
                </div>
                <div class="colonne">
                    <div class="pourcent">100 %</div>
                    <div class="barre">
                        <div class="score t100"></div>
                    </div>
                    <div class="Comp"> Travail en Equipe </div>
                </div>
                <div class="colonne">
                    <div class="pourcent">70 %</div>
                    <div class="barre">
                        <div class="score t70"></div>
                    </div>
                    <div class="Comp"> Méthode Agile </div>
                </div>
                <div class="colonne">
                    <div class="pourcent">80 %</div>
                    <div class="barre">
                        <div class="score t80"></div>
                    </div>
                    <div class="Comp"> Humour </div>
                </div>
            </div>
        </div>

        <footer>
            <div class="menu cadre">Me contacter</div>
            <div class="footer">
                <a href="https://www.linkedin.com/in/theo-ragot/">
                    <img src="img/link.png" class="LogoFooter">
                </a>
                <a href="https://github.com/TheoRagot">
                    <img src="img/github.png" class="LogoFooter">
                </a>
            </div>
            <div class="menu cadre"> Mon Cv</div>
        </footer>
    </div>
    
<script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
<script type="text/javascript" src="script.js"></script> 
</body>
</html>