<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
    <header>
        <div class="logo"></div>
        <div class="menus">
            <a href="#projet"class="menu">
                Mes Projets
            </a>
            <a href="#Exp"class="menu">
                Expérience Professionelle
            </a>
            <a href="#Comp"class="menu">
                Mes Compétences
            </a>
            <a href="contact.php" class="menu cadre">
                Me contacter
            </a>
        </div>
    </header>

    <div class="page">

        <iframe class="video"width="475" height="267" src="https://www.youtube.com/embed/bE1rE7Y-YI0" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <div class="home">
            <div class="ligne">
                <div class=" h1 italique">&lth1&gt</div> 
                <h1>Bienvenue Sur Mon Porte-Folio </h1>
                <div class=" h1 italique">&lt/h1&gt</div>
            </div>
            <div class="paragraphe" >
                <div class="description">
                    <div class="italique">&ltp&gt</div>
                    Je suis un étudiant en 2ème année de bachelor en web développement.
                    Je suis toujours à la recherche d'une alternance ou d'un stage en temps que développeur front ou back.
                    <div class="italique">&lt/p&gt</div>
                </div>
            </div> 
        </div> 

        <div class=blockProjet>
            <div class="ligne" id="projet">
                <div class=" h2 italique">&lth2&gt</div> 
                <h2>Mes Projets</h2>
                <div class=" h2 italique">&lt/h2&gt</div>
            </div>
        </div>

        <div class="blockExp">
            <div id="Exp"class="ligne">
                <div class=" h2 italique">&lth2&gt</div> 
                <h2>Expérience Professionelle</h2>
                <div class=" h2 italique">&lt/h2&gt</div>
            </div>
            <div class="Exps">
                <div class="Exp">
                    <img src="img/Dis.jpg" class="imgExp"> </img>
                    <div class="texteExp">
                        <div class="titleExp">
                            Alternant Dev Full Stack
                        </div>
                        <div> - </div>
                        <div class="titleExp">
                            Disinfluence
                        </div>
                        <div class="date">
                            09/2020 - 11/2020
                        </div>
                        <div class="descriptionExp">
                            Licencié pour des raisons économique de l'entreprise.
                            J'ai pus apprendre à coder en Pug et Stylus pour
                            l'intégraton et approfondir mes connaissance en Vuejs.
                            Ma mission était decrée un time-tracker permettant aux enployés
                            de savoir combien de temps avait-il passé sur chaque projets.
                        </div>
                    </div>
                </div>

                <div class="Exp">
                    <img src="img/Sens.JPG" class="imgExp"> </img>
                    <div class="texteExp">
                        <div class="titleExp">
                            Assistant Cuisine
                        </div>
                        <div> - </div>
                        <div class="titleExp">
                            Restaurant Sens
                        </div>
                        <div class="date">
                            04/2019 - 11/2019
                        </div>
                        <div class="descriptionExp">
                            J'ai travaillé pendant presque 2 ans, le jeudi, vendredi et samedi soir, au restaurant Sens.
                            Mes différentes mision était: d'aider le chef dans la préparation
                            de différents plats; de préparer les madeleines; d'aider la chef de salle
                            derrière le bar et de faire la plonge de la cuisine et de la salle.
                        </div>
                    </div>
                </div>

                <div class="Exp">
                    <img src="img/EOSL.png" class="imgExp"> </img>
                    <div class="texteExp">
                        <div class="titleExp">
                            Coach de Basket
                        </div>
                        <div> - </div>
                        <div class="titleExp">
                            EOSL Angers
                        </div>
                        <div class="date">
                            09/2015 - 06/2018
                        </div>
                        <div class="descriptionExp">
                            J'ai coacher une équipe de basketde U10 tous les week-end et participer
                            à un entrainement par semaine. J'ai pendant 3 ans crée un esprit
                            d'équipe dans le groupe. J'ai appris àles motiver tout en me fesant respecter.  
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div id="blockComp">
            <div id="Comp"class="ligne">
                <div class=" h2 italique">&lth2&gt</div> 
                <h2>Mes Compétences</h2>
                <div class=" h2 italique">&lt/h2&gt</div>
            </div>
            <div class="competences">
                <div class="competence" v-on:click="dev">Développement Web</div>
                <div class="competence" v-on:click="design">Design Web</div>
                <div class="competence" v-on:click="outils">Outils</div>
                <div class="competence" v-on:click="transverse">Transverse</div>
            </div>

            <!-- dev -->
            <div class="part" v-if=" nbx === 0" >
                <div class="colonne">
                    <div class="pourcent">100 %</div>
                    <div class="barre">
                        <div class="score t100"></div>
                    </div>
                    <img src="img/HTML.png" class="logoComp">
                </div>
                <div class="colonne">
                    <div class="pourcent">90 %</div>
                    <div class="barre" moz-animation:Animate-HTML4s >
                        <div class="score t90"></div>
                    </div>
                    <img src="img/CSS.png" class="logoCompSmall">
                </div>
                <div class="colonne">
                    <div class="pourcent">70 %</div>
                    <div class="barre">
                        <div class="score t70"></div>
                    </div>
                    <img src="img/PUG.png" class="logoComp">
                </div>
                <div class="colonne">
                    <div class="pourcent">75 %</div>
                    <div class="barre">
                        <div class="score t75"></div>
                    </div>
                    <img src="img/JS.png" class="logoComp">
                </div>
                <div class="colonne">
                    <div class="pourcent">85 %</div>
                    <div class="barre">
                        <div class="score t85"></div>
                    </div>
                    <img src="img/PHP.png" class="logoComp">
                </div>
                <div class="colonne">
                    <div class="pourcent">70 %</div>
                    <div class="barre">
                        <div class="score t70"></div>
                    </div>
                    <img src="img/Vue.png" class="logoComp">
                </div>
                <div class="colonne">
                    <div class="pourcent">60 %</div>
                    <div class="barre">
                        <div class="score t60"></div>
                    </div>
                    <img src="img/Laravel.png" class="logoComp">
                </div>
                <div class="colonne">
                    <div class="pourcent">80 %</div>
                    <div class="barre">
                        <div class="score t80"></div>
                    </div>
                    <img src="img/SQL.png" class="logoComp">
                </div>
            </div>

            <!-- design -->
            <div class="part" v-if="nbx === 1">
                <div class="colonne">
                    <div class="pourcent">90 %</div>
                    <div class="barre">
                        <div class="score t90"></div>
                    </div>
                    <img src="img/Xd.png" class="logoCompSmall">
                </div>
                <div class="colonne">
                    <div class="pourcent">20 %</div>
                    <div class="barre">
                        <div class="score t20"></div>
                    </div>
                    <img src="img/Id.png" class="logoCompSmall">
                </div>
                <div class="colonne">
                    <div class="pourcent">40 %</div>
                    <div class="barre">
                        <div class="score t40"></div>
                    </div>
                    <img src="img/Ps.png" class="logoCompTall">
                </div>
                <div class="colonne">
                    <div class="pourcent">40 %</div>
                    <div class="barre">
                        <div class="score t40"></div>
                    </div>
                    <img src="img/Ai.webp" class="logoCompSmall">
                </div>
                <div class="colonne">
                    <div class="pourcent">75 %</div>
                    <div class="barre">
                        <div class="score t75"></div>
                    </div>
                    <div class="Comp"> Maquettage </div>
                </div>
            </div>

            <!-- outils -->
            <div class="part" v-if=" nbx === 2">
                <div class="colonne">
                    <div class="pourcent">100 %</div>
                    <div class="barre">
                        <div class="score t100"></div>
                    </div>
                    <img src="img/Excel.png" class="logoCompTall">
                </div>
                <div class="colonne">
                    <div class="pourcent">80 %</div>
                    <div class="barre">
                        <div class="score t80"></div>
                    </div>
                    <img src="img/word.png" class="logoCompSmall">
                </div>
                <div class="colonne">
                    <div class="pourcent">90 %</div>
                    <div class="barre">
                        <div class="score t90"></div>
                    </div>
                    <img src="img/Pp.png" class="logoCompSmall">
                </div>
                <div class="colonne">
                    <div class="pourcent">60 %</div>
                    <div class="barre">
                        <div class="score t60"></div>
                    </div>
                    <img src="img/Pr.png" class="logoCompSmall">
                </div>

            </div>

            <!-- transervse -->
            <div class="part" v-if="nbx === 3">
                <div class="colonne">
                    <div class="pourcent">100 %</div>
                    <div class="barre">
                        <div class="score t100"></div>
                    </div>
                    <div class="Comp"> Communication </div>
                </div>
                <div class="colonne">
                    <div class="pourcent">100 %</div>
                    <div class="barre">
                        <div class="score t100"></div>
                    </div>
                    <div class="Comp"> Travail en Equipe </div>
                </div>
                <div class="colonne">
                    <div class="pourcent">70 %</div>
                    <div class="barre">
                        <div class="score t70"></div>
                    </div>
                    <div class="Comp"> Méthode Agile </div>
                </div>
                <div class="colonne">
                    <div class="pourcent">80 %</div>
                    <div class="barre">
                        <div class="score t80"></div>
                    </div>
                    <div class="Comp"> Humour </div>
                </div>
            </div>
        </div>

        <footer>
            <div class="menu cadre">Me contacter</div>
            <div class="footer">
                <a href="https://www.linkedin.com/in/theo-ragot/">
                    <img src="img/link.png" class="LogoFooter">
                </a>
                <a href="https://github.com/TheoRagot">
                    <img src="img/github.png" class="LogoFooter">
                </a>
            </div>
            <a download class="menu cadre" href="img/CV Théo Ragot.jpg"> Mon Cv</a>
        </footer>
    </div>
    
<script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
<script type="text/javascript" src="script.js"></script> 
</body>
</html>