*{
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI';
}

header{
    background-color: #2E4D7C ;
    opacity: 0.85;
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
}
.logo{
    height: 75px;
    width: 75px;
    background-color: white;
    margin-left: 260px;
}
.menus{
    width: 700px;
    font-size: 1.05rem;
    display: flex;
    justify-content: space-between ;
    color: white;
    margin-left: 410px;
}
.cadre{
    border: 2px solid white ;
    padding: 1px 4px;
}
/* fin header */
.page{ 
    width: 100%;
}
.video{
    position: absolute;
    left: 150px;
    top: 230px;
}
.home{
    display: flex;
    flex-direction: column;
    align-items: center;;
    position: absolute;
    top: 230px;
    right: 130px;
}
.ligne{
    display: flex;
    align-items: center;
}
.paragraphe{
    width: 650px;
    margin-top: 75px;
    text-align: center;
}
.description{
    display: flex;
    font-size:1.25rem ;
}
h1{
    color: #2E4D7C;
    font-size: 2.1875rem;
}
.h1{
    color: #2E4D7C;
    font-size: 2rem;
}

/*fin de home */
h2{
    font-size: 1.875rem;
    color: #2E4D7C ;
    font-weight: bold;
}
.h2{
    font-size: 1.7rem;
    color: #2E4D7C ;
}
.blockProjet{
    position: absolute;
    width: 100%;
    top: 700px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.italique{
    font-style: italic;
    color: black;
}

/* fin de projet */

.blockExp{
    position: absolute;
    width: 100%;
    top: 900px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.Exps{
    margin-top: 75px ;
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}
.Exp{
    width: 270px;
    height: 465px;
    border: 3px solid #2E4D7C;
}

.imgExp{
    width: 100%;
    height: 150px;
    border-bottom: 3px solid #2E4D7C;
    margin-bottom: 15px;
}
.texteExp{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
.titleExp{
    font-size: 1.25rem;
    margin-bottom: 10px;
}
.date{
    font-size: 0.9375rem;
    margin-top: 10px;
}
.descriptionExp{
    font-size: 0.7rem;
    margin-top: 30px;
}

/* Expèrience Professionelle */

#blockComp{
    position: absolute;
    width: 100%;
    top: 1600px;
    display: flex;
    flex-direction: column;
    align-items: center;
}