*{
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI';
}

header{
    background-color: #2E4D7C ;
    opacity: 0.85;
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
}
.logo{
    height: 75px;
    width: 75px;
    margin-left: 260px;
    font-family: Tempus Sans ITC;
    font-size: 3.5rem;
    color: white;
}
.menus{
    width: 700px;
    font-size: 1.05rem;
    display: flex;
    justify-content: space-between ;
    color: white;
    margin-left: 410px;
}
.menu{
    color: white;
    text-decoration: none;
}
.cadre{
    border: 2px solid white ;
    padding: 1px 4px;
}
/* fin header */
.page{ 
    width: 100%;
}
.video{
    position: absolute;
    left: 150px;
    top: 230px;
}
.home{
    display: flex;
    flex-direction: column;
    align-items: center;;
    position: absolute;
    top: 230px;
    right: 130px;
}
.ligne{
    display: flex;
    align-items: center;
}
.paragraphe{
    width: 650px;
    margin-top: 75px;
    text-align: center;
}
.description{
    display: flex;
    font-size:1.25rem ;
}
h1{
    color: #2E4D7C;
    font-size: 2.1875rem;
}
.h1{
    color: #2E4D7C;
    font-size: 2rem;
}

/*fin de home */
h2{
    font-size: 1.875rem;
    color: #2E4D7C ;
    font-weight: bold;
}
.h2{
    font-size: 1.7rem;
    color: #2E4D7C ;
}
.blockProjet{
    position: absolute;
    width: 100%;
    top: 700px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.italique{
    font-style: italic;
    color: black;
}

/* fin de projet */

.blockExp{
    position: absolute;
    width: 100%;
    top: 900px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.Exps{
    margin-top: 75px ;
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}
.Exp{
    width: 270px;
    height: 465px;
    border: 3px solid #2E4D7C;
}

.imgExp{
    width: 100%;
    height: 150px;
    border-bottom: 3px solid #2E4D7C;
    margin-bottom: 15px;
}
.texteExp{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
.titleExp{
    font-size: 1.25rem;
    margin-bottom: 10px;
}
.date{
    font-size: 0.9375rem;
    margin-top: 10px;
}
.descriptionExp{
    font-size: 0.7rem;
    margin-top: 30px;
}

/* fin Expèrience Professionelle */

#blockComp{
    position: absolute;
    width: 100%;
    top: 1600px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.competences{
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin-top: 45px;
}
.competence{
    padding: 2px 5px;
    font-size: 1.2rem;
    border: 1px solid #707070 ;
    border-radius: 5px;
    cursor: pointer;
}
.on{
    background-color: lightblue;
}
.colonne{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.pourcent{
    font-size: 0.6rem;
}
.barre{
    width: 50px;
    height: 300px;
    background-color: white;
    border: 1px #707070 solid;
    display: flex;
    align-items: flex-end;
    margin-bottom: 20px;
}
.score{
    width : 100%;
    background: rgb(46,77,124);
    background: linear-gradient(0deg, rgba(46,77,124,1) 0%, rgba(46,77,124,0.8) 50%, rgba(46,77,124,0.4991130241158963) 100%);
}
.t100{
    height: 100% ;
    animation: animationt100 5s;
}
.t90{
    height: 90%;
    animation: animationt90 5s;
}
.t85{
    height: 85%;
    animation: animationt85 5s;

}
.t80{
    height: 80%;
    animation: animationt80 5s;
}
.t75{
    height: 75%;
    animation: animationt75 5s;
}  
.t70{
    height: 70%;
    animation: animationt70 5s;
}
.t60{
    height: 60%;
    animation: animationt60 5s;
}
.t50{
    height: 50%;
    animation: animationt50 5s;
}
.t40{
    height: 40%;
    animation: animationt40 5s;
}
.t20{
    height: 20%;
    animation: animationt20 5s;
}

.logoComp{
    width: 75px;
    height: auto;
}
.logoCompSmall{
    width: 50px;
    height: auto;
}
.logoCompTall{
    width: 85px;
    height: auto;
}

.Comp{
    font-size: 1rem;
    margin-top: 12px;
    font-weight: bold;
}
.part{
    margin-top: 70px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

/* footer */
footer{
    position: absolute;
    top: 2300px;
    background-color: #2E4D7C ;
    opacity: 0.85;
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.footer{
    display: flex;
    justify-content: space-between;
    width: 200px;

}
.LogoFooter{
    width: 50px;
}
/* page contact */
.pageContact{
    display: flex;
    flex-direction: column;
    align-items: center;
    width:100%;
    margin-top: 50px;
}
.headerContact{
    display: flex;
    justify-content: center;
    width: 100%;
}
.form{
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    width: 600px;
}
.input{
    padding-left:5px ;
    height: 35px;
    width: 250px;
    border: 1px solid black;
    border-radius: 5px;
    margin-bottom: 30px;
}
.inputTall{
    width: 100%;
}
.inputVeryTall{
    width: 100%;
    height: 180px;
}
.ligneContact{
    display: flex;
    justify-content: space-between;
}
.button{
    height: 30px;
    width: 200px;
    background-color: #2E4D7C ;
    color: white;
    border-radius: 15px;
    margin-left: 200px;
}
.logoContact{
    height: 75px;
    width: 75px;
    text-decoration: none;
    font-family: Tempus Sans ITC;
    font-size: 3.5rem;
    color: white;
}
.footerContact{
    position: absolute;
    top: 729px;
    background-color: #2E4D7C ;
    opacity: 0.85;
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

/* animation */

@keyframes animationt100 {
    from { height: 0 }
    to   { height: 100% }
}
@keyframes animationt90 {
    from { height: 0 }
    to   { height: 90% }
}
@keyframes animationt80 {
    from { height: 0 }
    to   { height: 80% }
}
@keyframes animationt85 {
    from { height: 0 }
    to   { height: 85% }
}
@keyframes animationt75 {
    from { height: 0 }
    to   { height: 75% }
}@keyframes animationt70 {
    from { height: 0 }
    to   { height: 70% }
}@keyframes animationt60 {
    from { height: 0 }
    to   { height: 60% }
}@keyframes animationt50 {
    from { height: 0 }
    to   { height: 50% }
}@keyframes animationt40 {
    from { height: 0 }
    to   { height: 40% }
}
@keyframes animationt20 {
    from { height: 0 }
    to   { height: 20% }
}
